[Unit]
Description=DHCP server service that provides IPs

[Service]
ExecStart=/usr/sbin/udhcpd -Sf
StandardOutput=syslog
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
